Repository jentic/arazzo-engine, pull requests merged in 2025-09, with the labels that each got.

#88 fix(generator): exclude tests/ directory from sdist package
  generator/pyproject.toml
Labels: enhancement, generator

#90 chore(release): cut the arazzo_generator v0.1.2 release
  generator/pyproject.toml
Labels: generator

#94 feat(generator): publish latest & tagged Docker image to GitHub Container Registry
  .github/workflows/arazzo-generator-docker-gcr.yaml
Labels: enhancement, docker

#95 chore(release): cut the arazzo_generator v0.2.0 release
  generator/pyproject.toml
Labels: generator

#103 docs(RELEASE): add complete release instruction
  RELEASE.md
Labels: documentation

#112 Update README.md
  README.md
Labels: documentation, enhancement

#115 Fix/ensure JSON Schema allOf keyword flattening and merging
  runner/arazzo_runner/extractor/openapi_extractor.py
  runner/tests/extractor/test_openapi_extractor.py
  runner/tests/test_data/allof_merging/allof_merging_test_spec.json
  runner/tests/test_data/boolean_schemas/boolean_ref_oneof_test_spec.json
  runner/tests/test_data/boolean_schemas/boolean_schema_test_spec.json
  runner/tests/test_data/oneof_behavior/oneof_behavior_test_spec.json
  runner/tests/test_data/sibling_merge/sibling_merge_test_spec.json
Labels: enhancement, runner
